/* App Layout */

.app {
    --margin: 10px;
    
    display: flex; flex-direction: column;
    margin: var(--margin);
    overflow: hidden;

    .top-bar { height: 30px }
    .dock-layout { 
        height: calc(100vh - 30px - (var(--margin) * 2));
        #properties-view {
            overflow-y: auto;
        }
    }
}